@import url('https://fonts.googleapis.com/css?family=Satisfy|Gloria+Hallelujah|Open+Sans|Pacifico|Text+Me+One');

$aquamarine: #a7dbd8;
$sand: #e0e4cc;
$brown: #602623;
$blue: #6dd2e7;
$sea: #0fa39f;
$orange: #f38630;
$dark-orange: #fa6900;

$font: 'Open-Sans', sans-serif;
$headline: 'Satisfy', cursive;

body{
    background-color: $aquamarine;
}

* {
outline: none;
outline-offset: 0;
}

%flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
    flex-direction: row;
}

.row:before, .row:after {
    content:"";
    display: table;
}

.row:after {
    clear: both;
}

.column-container {
    @extend %flex-container;
    margin: 70px auto;
    padding: 20px;
}

.card-description {
    display: inline-block;
}

ul {
    padding-left: 0;
}

h1,h2,h3,p {
    color: $brown;
}

p {
    font-family: $font;
}

h2 {
    font-family: $headline;
    font-size: 2em;
}

%headlinefonts {
    font-family: $headline;
    text-align: center;
    margin-top: 70px;
    font-weight: 700;
}

h1 {
    @extend %headlinefonts;
    font-size: 4.5em;
    margin-bottom: 0;
    
}

h3 {
    @extend %headlinefonts;
    font-size: 2em;
    margin-top: 0;
}

.create-column {
    display: block;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 0px auto;
    font-size: 1.2em;
    color: white;
    background: $dark-orange;
    border: 3px solid $sand;
    border-radius: 30px;
    padding: 10px;
}

.add-card {
    font-size: 1.2em;
    color: white;
    background: #0fa39f;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3) !important;
    border: none;

}

.column{
    background-color: $sand;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin-top: 20px;
}

.btn-delete {
    background-color: $brown;
    border-radius: 50%;
    color: $sand;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: none;
    box-shadow: none;
    margin: 0 15px;
}

/*SVG --------------------------------*/

#ziggy-yellow {
    background: url(../photo/yellow-ziggy.svg);
    width: 180px;
    //margin-left: calc(100vw - 40%);
    height: 100px;
    background-repeat: no-repeat;
}

#two-ziggies {
    max-width: 500px;
    margin-left: 200px;
}

#fish-fly {
    height: 300px;
    max-width: 400px;
    margin-left: calc(100vw - 30%);
    margin-top: -300px;
}

#orange-fish {
    background: url(../photo/fish.svg);
    width: 300px;
    height: 250px;
    //margin-left: calc(100vw - 80%);
    background-repeat: no-repeat;
}

.creature {
    @extend %flex-container;
    margin: 0 auto;
    margin-top: 40px;

}

// SVG ANIMATION ------------------------------

.swim {
    animation: creature_swim 12s infinite;
    -webkit-animation: creature_swim 12s infinite; /* dla Google Chrome, Safari, Opera 15+ */
}

@keyframes creature_swim
      {
        0% { transform: translate(30px, 0); }
        25% { transform: translate(50px, -20px); }
        50% { transform: translate(120px, -60px); }
        75% { transform: translate(200px, 0); }
        100% { transform: translate(800px, -80px); }
      }


.swim-yellow {
    animation: swim_yellow 12s infinite none running;
    -webkit-animation: swim_yellow linear 22s infinite none running;
    
}

@keyframes swim_yellow
{
    0% { transform: translate(-70px, 0); }
    10% { transform: translate(-200px, -20px); }
    20% { transform: translate(-350px, -60px); }
    30% { transform: translate(-500px, -40px); }
    40% { transform: translate(-700px, 0); }
    50% { transform: translate(-800px, -30px); }
    60% { transform: matrix(-1, 0, 0, 1, -680, 0);}
    70% { transform: matrix(-1, 0, 0, 1, -500, 10); }
    80% { transform: matrix(-1, 0, 0, 1, -300, -20); }
    90% { transform: matrix(-1, 0, 0, 1, -200, -30); }
    100% { transform: matrix(-1, 0, 0, 1, 0, 0); }
}

.orange-fish {
    animation: orange_fish 4s infinite alternate none running;
    -webkit-animation: orange_fish linear 4s infinite alternate none running;
}

@keyframes orange_fish
{
    0% {transform: skewY(0deg);}
    25% {transform: skew(5deg, 5deg);}
    50% {transform: skew(-5deg, -5deg);}
    75% {transform: skew(5deg, 3deg);}
    100% {transform: skewY(-5deg,)}
}

.fly-rotate{
   
    animation: fly_rotate 5s linear infinite none running;

  }


@keyframes fly_rotate { 
    100% { 
        motion-offset: 100%;
        offset-distance: 100%;
      } 
}